@import 'scss/_grid';
@import 'scss/_colours';
@import 'scss/_variables';
@import 'scss/_typography';
@import 'scss/_buttons';
@import 'scss/_forms';
@import 'scss/_icons';
@import 'scss/_tables';
@import 'scss/_notifications';
@import 'scss/_alerts';
@import 'scss/_miscellaneous';


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  color: #6f7c82;
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  line-height: 1.6;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.top-bar {
  background-color: #00abc0;
  font-size: 14px;
  padding: 20px 30px;
}

.top-bar__logo {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  width: 25px;
}

.top-bar__tag {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-left: 5px;
}

.nav--main {
  text-align: right;
}

.nav__item {
  display: inline-block;
  line-height: 1.8;
  & + & {
    margin-left: 20px;
  }
}

.nav__link {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

/* Sidebar stuff */

.sidebar__list {
  margin: 0;
  padding: 0;
}

.sidebar__item {
  list-style: none;
  margin: 0;
}

.sidebar__link {
  color: inherit;
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.sidebar__link--active {
  font-weight: 600;
}

.sidebar__item {
  &:after {
    background: url(../img/forward.png);
    content: '';
  }
  & + & {
    margin-top: 20px;
  }
}

.content {
  margin: 0 auto;
  max-width: 1260px;
  padding: 40px;
}

/* Code blocks */

pre {
  margin: 0;
}

.hljs.hljs {
  background-color: #f1f6f7;
  border-radius: 3px;
  margin-bottom: -40px;
  padding: 10px;
}

.code-block--xl {
  max-height: 300px;
}

/* Bootstrap */

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.hidden {
  display: none !important;
}
