.form__element {
  font-family: Whitney HTF;
  font-weight: 500;
}

.form__input {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px;
  -webkit-transition: .2s border-color ease;
     -moz-transition: .2s border-color ease;
      -ms-transition: .2s border-color ease;
       -o-transition: .2s border-color ease;
          transition: .2s border-color ease;
  &:focus {
    border-color: darken(#d9d9d9, 10%);
    outline: none;
  }
}

.form__input--inline {
  display: block;
}

.form__label {
  display: inline-block;
  margin-bottom: 10px;
}

.form__microcopy {
  color: #979797;
  display: block;
  margin-top: 8px;
}

.template-dropdown {
  background-color: #444;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  color: #d9d9d9;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  margin: 0 0 20px;
  padding-left: 33px;
  text-indent: 40px;
  text-indent: 40px;
  width: 100%;
}

.dropdown__caret {
  border-left: 4px solid transparent;
  border-radius: 5px;
  border-right: 4px solid transparent;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  display: inline-block;
  height: 0;
  margin-left: 4px;
  margin-top: -1px;
  vertical-align: middle;
  width: 0;
}
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-toggle {
  i {
    font-size: 12px;
    margin-right: 3px;
    vertical-align: baseline;
  }

  &:hover {
    cursor: pointer;
  }
}
.dropdown-menu {
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15),0 0 0 1px rgba(0,0,0,.05);
          background-clip: padding-box;
  background-color: #fff;
  border-radius: 4px;
          box-shadow: 0 1px 3px rgba(0,0,0,.15),0 0 0 1px rgba(0,0,0,.05);
  float: left;
  font-size: 14px;
  left: 0;
  list-style: none;
  margin: 2px 0 0;
  min-width: 160px;
  opacity: 0;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  visibility: hidden;
  z-index: 1000;
}


.dropdown-menu.pull-right {
  left: auto;
  right: 0;
}
.open > .dropdown-menu {
  opacity: 1;
  -webkit-transition: opacity .2s;
     -moz-transition: opacity .2s;
      -ms-transition: opacity .2s;
       -o-transition: opacity .2s;
          transition: opacity .2s;
  visibility: visible;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: 100%;
  margin-bottom: 2px;
  top: auto;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}

.dropdown__link {
  color: inherit;
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  &:hover {
    color: #111823;
  }
}
.dropdown__separator {
  background-color: #f1f6f7;
  height: 1px;
  margin: 3px 0;
}
